*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg,#F3FAA0,#8EDE97);
    height: 100vh;
    color: #383A3D;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: beige;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(#FAD095, #FAD095, #FAD095);
    border-radius: none;
   
}
.botao:hover{
    background-color: #f7e2c4;
    border: none;
}
#resultado{
    background-color: #fff;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    text-align: right;
    padding: 5px;
}